<div class="row">
  <div class="col-12">
    <h2 class="fs-1 mb-4 text-center"><%= Employee.model_name.human %></h2>

    <%= render "form", employee: @employee %>

    <br>

    <div>
      <%= link_to I18n.t(:back), employees_path %>
    </div>
  </div>
</div>
