<div class="row">
  <div class="col-12">
    <h2 class="fs-1 mb-4 text-center">Editar <%= Inss::ContributionSalaryRange.model_name.human %></h2>

    <%= render "form", inss_contribution_salary_range: @inss_contribution_salary_range %>

    <br>

    <div>
      <%= link_to I18n.t(:list), @inss_contribution_salary_range %> |
      <%= link_to I18n.t(:back), inss_contribution_salary_ranges_path %>
    </div>
  </div>
</div>