<h1>New contribution salary range</h1>

<%= render "form", inss_contribution_salary_range: @inss_contribution_salary_range %>

<br>

<div>
  <%= link_to "Back to contribution salary ranges", inss_contribution_salary_ranges_path %>
</div>
